		/*html{
			font-size:10px;
				}*/
		*{
			margin:0px;
			padding:0px;
		}
		#dx{
			/*width:100%;*/
			/*height:100%;*/
			background-color: #eeeeee;
			/*position: relative;*/
		}
		.main{
			width:640px;
			/*border:1px solid black;*/
			margin: 0 auto;
			/*position: relative;*/
		}
		/*导航栏 开始*/
		.header{
			width:640px;
			height:80px;
		}
		.nav{
			width:640px;
			height:80px;
			/*border:1px solid red;*/
			background-color: #fff;
			/*margin:0 auto;*/

			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			position: fixed;
			top:0;
			/*left:134px;*/
			z-index: 999;
		
		}
		ul{
			margin: 0px;
			padding:0px;
		}
		.nav span{
			font-size:30px !important;
			color:black !important;
		}
		
		.nav li:nth-child(3){
			margin: auto;
}

		/*导航栏 结束*/
		
		/*scroll-img start*/


		.scroll-img{
			width:640px;
			height: 340px;
			margin:0 auto;
		}
		
		/*scroll-img end*/
		/*nav-menu start*/
		.nav-menu{
			width:640px;
			height:194px;
			background-color:#fff;


			
		}
		 .nav-menu ul{

			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			
			
		}

		 .nav-menu li{
			width:160px;
			height:184px;
			/*border:1px solid red;*/

			list-style: none;
			margin-top:10px;

			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;


		}
		.nav-menu img{
			width:92px;
			height:92px;
		}
		.nav-menu li span{
			display: inline-block;
			width:138px;
			height:82px; 
			/*border:1px solid green;*/
			font-size:25px;
			line-height: 1.2;

			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
		}

		/*nav-menu end*/

		/*pro start*/
		.pro{
			width:640px;
			height:141px;
			/*border:1px solid red;*/
			margin-top:8px;

			display: flex;
			flex-flow:row nowrap;
			justify-content: space-between;
			align-items: center;

		}
		.pro .pro-left{
			width:314px;
			height:141px;
			/*border:1px solid green;*/
			background-color: #fff;
				
			display: flex;
			flex-flow:row nowrap;
			justify-content: space-around;
			align-items: center;

		}
		.pro .pro-lt-lt{
			display: flex;
			flex-flow:column nowrap;
			justify-content: space-around;
			align-items: center;
		}
		.pro .pro-lt-lt span{
			display: flex;
			flex-flow:column nowrap;
			justify-content: center;
			align-items: flex-start;
		}
		.pro .pro-lt-lt .bottom{
			width:182px;
			height:42px;
			font-size:20px;
			color:#b0b0b0;
			/*border:1px solid blue;*/

			display: flex;
			flex-flow:column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
		}
		.pro .pro-lt-lt .top{
			width:182px;
			height:62px;
			font-size:25px;
			font-weight: bold;
			/*border:1px solid blue;*/

			display: flex;
			flex-flow:column nowrap;
			justify-content: flex-end;
			align-items: flex-start;
		}
		.pro img{
			width:109px;
			height:109px;
		}
		/*pro end*/
		/*main-nav start*/
		#main{
			width:640px;
			height:1713px;
			/*border:1px solid orange;*/
			/*margin-top:8px;*/
		}
		.main-nav{
			width:640px;
			height:81px;
			/*border:1px solid red;*/
			background-color: #fff;
			margin-top:8px;

		}
		#main .main-nav span{
			font-size:30px;
			font-weight: bold;
			line-height: 81px;
			color:black;

		}
		#main .box{
			display: flex;
			flex-flow:row wrap;
			/*justify-content:space-between;*/
			/*align-items: center;*/
			justify-content: space-between;
			/*align-items: flex-start;*/


		}

		.box li{
			width:318px;
			height:269px;
			/*border:1px solid blue;*/
			background-color: #fff;
			margin-top:3px;
			list-style: none;

			display: flex;
			flex-flow:column nowrap;
			justify-content: flex-start;
			align-items: center;

			position: relative;	

		}
		#main .box li .box-img{
			/*width:180px;
			height:180px;*/
			/*border:1px solid red;*/
			margin-top:10px;
			display: flex;
			flex-flow:column nowrap;
			justify-content: flex-start;
			align-items: center;
		}
		#main .box li img{
			width:135px;
			height:135px;
			/*border:1px solid red;*/
		}
		#main .box li .font-top{
			width:284px;
			height: 55px;
			/*border:1px solid red;*/
			margin-top:6px;
			font-size:20px;
			line-height: 1.3;
		}
		#main .box li .font-bottom{
			width:286px;
			height: 62px;
			/*border:1px solid red;*/
			/*margin-top:8px;*/


			display: flex;
			flex-flow:row nowrap;
			justify-content: center;
			align-items: flex-start;
		}
		#main  span{
			font-size:20px;
			color:#ff9c00;
		}
		#main .box li .font-bottom div .top-style{
			font-size:20px;
			color:#ff9c00;
			font-weight: bold;
		
		}
		#main .box li .font-bottom div del{
			font-size:20px;
			color:#aaaaaa;
			/*font-weight: bold;*/
			/*border:1px solid red;*/

			display: flex;
			flex-flow:row nowrap;
			justify-content: center;
			align-items: flex-start;

		}
		#main .box li .font-bottom div span{
			color:#aaaaaa;
			font-size:18px;
		}
		#main .box li .font-bottom div .font-img{
					font-size:20px;
		}
		
		#main .box li .font-bottom div{
			width:284px;
			height: 62px;
			/*border:1px solid red;*/

			display: flex;
			flex-flow:column nowrap;
			justify-content: flex-start;
			align-items:flex-start;
		}
		#main  .font-img{
			position: absolute;
			top:223px;
			right:8px;
			z-index:998;
		}

		#main .box .count{
			width:74px;
			height:74px;
			border-radius: 50%;
			background-color: #f38746;

			position: absolute;
			top:0;
			right:0;

			display: flex;
			flex-flow:column nowrap;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		#main .box .count span{
			color:white;
			font-size:25px;
			font-weight: bold;
			/*line-height: 74px;*/
			line-height: 1.2;


		}

			/* main-nav end*/

		/*footer start*/

			.footer{
				width:640px;
				height:223px;
				/*border:1px solid red;*/
				background-color: 	#fff;
				margin-bottom:20px;
				border-top:1px #dddddd solid;
						
				display:flex;
				flex-flow:column nowrap;
				justify-content: space-around;
				align-items: center;

			}
			.footer .footer-top{
				width:640px;
				height:135px;
				/*border:1px solid red;*/
			}

			.footer ul{
				/*width:;*/
				display:flex;
				flex-flow:row nowrap;
				justify-content:space-around;
				align-items: center;
			}
			.footer ul li{
				height:67px;
				list-style: none;
				/*border:1px solid red;*/

				display:flex;
				flex-flow:row nowrap;
				justify-content:center;
				align-items: flex-end;
			}

			.footer ul li a{
				font-size:20px;
				color:#656565;
				/*font-weight: bold;*/
			}
			.footer .footer-top div{
				/*border:1px solid red;*/
				height:67px;
					display:flex;
				flex-flow:row nowrap;
				justify-content:center;
				align-items: center;
			}
			.footer .footer-top div a{
				font-size:20px;
				/*font-weight: bold;*/
				color:#656565;
			

			}
			.footer span{
				width:640px;
				height:87px;
				color:#a9a9a9;
				font-size:20px;
				/*font-weight: bold;*/
				border-top:1px solid #dddddd;

					display:flex;
				flex-flow:row nowrap;
				justify-content:center;
				align-items: center;
			}



		/*footer end*/










	/*屏幕自适应设置 开始*/

	/*@media only screen and (min-width:320px)
	{
		html{
			font-size:10px;
		}
	}

	@media only screen and (min-width:414px)
	{
		html{
			font-size:14px;
		}
	}
	@media only screen and (min-width:640px)
	{
		html{
			font-size:18px;
		}
	}
		@media only screen and (min-width:640px)
	{
		html{
			font-size:20px;
		}
	}*/

	/*屏幕自适应设置 结束*/